.container-fluid {
  background-color: #606;
}

.container {
  width: auto;
  background-color: #800080;
  margin: 2em;
  border-radius: 5%;
}

header {
  margin: 2em 0 0 0;
  width: auto;
  /*border: 3px solid black;*/
}

#castle1 {
  margin-top: 5em;
  text-align: left;
  padding-left: 5em;
  overflow: auto;
}

h1 {
  color: #ff0;
  text-align: center;
  padding-top: 15px;
  font-family: "Luckiest Guy";
  font-size: 7em;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

#castle2 {
  margin-top: 5em;
  text-align: right;
  padding-right: 5em;
  overflow: auto;
}

#sub-header {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-size: 3em;
  color: #e6e600;
  /*border: 3px solid black;*/
  line-height: 1;
}

#knightAndCastles {
  margin-top: 2em;
}

#knight {
  padding-top: 10px;
  text-align: center;
}

.questionContainer {
  min-height: 500px;
  min-width: 300px;
  margin: 12em 7% 0 7%;
  padding: 2em 0 0 1em;
  border: 3px solid #000; 
  background-color: #fff; 
  border-radius: 10px;
  font-size: 2em;
  font-family: Times New Roman;
}

#submit-button {
  margin-top: 7px;
  text-align: center;
}

#next-button {
  margin-top: 7px;
  text-align: center;
}

#footer {
  text-align: center;
  font-family: Times New Roman;
  font-weight: bold;
  padding-top: 2em;
  padding-bottom: 1em;
}