body {
  background-color: #606;
}

.container-fluid {
  background-color: #606;
}

.container {
  width: auto;
  background-color: #800080;
  margin: 1em 0 1em 0;
  border-radius: 5%;
}

header {
  margin: 2em 0 0 0;
  width: auto;
  /*border: 3px solid black;*/
}

h1 {
  color: #ff0;
  text-align: center;
  padding-top: 15px;
  font-family: "Luckiest Guy";
  font-size: 6em;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

#sub-header {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-size: 3em;
  color: #e6e600;
  /*border: 3px solid black;*/
  line-height: 1;
}

#castle1 {
  margin-top: 0;
  text-align: left;
  padding-left: 3px;
  padding-top: 8em;
  overflow: auto;
}

#castle2 {
  margin-top: 0;
  text-align: right;
  padding-right: 3px;
  padding-top: 8em;
  overflow: auto;
}

#castles {
  margin-top: 1em;
  /*border: 3px solid red;*/
}

#knight {
  /*position: relative;*/
  padding-top: 10px;
  text-align: center;
}

.info {
  text-align: center;
  margin-top: 2em;
  font-family: "Merriweather", cursive;
  font-size: 2em;
  color: #e6e600;
  /*border: 3px solid black;*/
  line-height: 1.5;
}

.choose {
  text-align: center;
  margin-top: 2em;
  font-family: "Merriweather";
  font-size: 2em;
  color: #e6e600;
  /*border: 3px solid black;*/
  line-height: 1;
}

.topics {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.questionContainer {
  min-height: 500px;
  min-width: 300px;
  margin: 170px 7% 0 7%;
  padding: 2em 0 0 1em;
  border: 3px solid #000; 
  background-color: #fff; 
  border-radius: 10px;
  font-size: 2em;
  font-family: Times New Roman;
}

ul {
  list-style-type: none;
  font-size: 22px;
  padding-left: 0;
}

section {
  min-height: 200px;
}

.btn {
  background-color: green;
}

#submit-button {
  margin-top: 7px;
  text-align: center;
}

#next-button {
  margin-top: 7px;
  text-align: center;
}

#footer {
  text-align: center;
  font-family: Times New Roman;
  font-weight: bold;
  margin-top: 2em;
  /*padding-top: 2em;*/
  padding-bottom: 0;
  /*border: 3px solid black;*/
}

/* Below is the "footer" for all topics pages. */
.copyright {
  text-align: center;
}

.copyright, a {
  color: #000;
}